*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titulo{
  font-size: 3em;
  color: rgb(104, 9, 9);
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(206, 206, 206);
  padding: 5px 0;
  width: 100%;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.poster{
    width: 100%;
    height: 100%;
    max-width: 310px;
    padding: 4px;
    justify-content: center;
    transition: filter 0.5s ease, transform 0.5s ease; /* Transições suaves */
}
.poster:hover{
    z-index: 1;
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}