*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titulo{
  font-size: 3em;
  color: rgb(104, 9, 9);
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(206, 206, 206);
  padding: 5px 0;
  width: 100%;
}

.estrela{
    width: 70px;
    height: 70px;
    display: block;
    margin: 1rem auto 0 auto;
}

.ware{
    width: 200px;
    height: 200px;
    display: block;
    margin: 2rem auto 1rem auto;
}

.descricao{
    color: rgb(112, 2, 2);
    font-size: 2em;
    text-align: center;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.seta{
    width: 50px;
    height: 50px;
}

.insta{
    width: 100%;
    height: 100%;
    max-width: 100px;

    justify-content: center;
    filter: blur(1px);
    transition: filter 0.5s ease, transform 0.5s ease; /* Transições suaves */
}
.insta:hover{
    filter: blur(0px);
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.galeria{
    width: 100%;
    height: 100%;
    max-width: 100px;
    padding: 6px;
    justify-content: center;
    filter: invert(90%) blur(1px);
    transition: filter 0.5s ease, transform 0.5s ease; /* Transições suaves */
}

.galeria:hover{
    filter: invert(90%) blur(0px);
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.mpaint{
    width: 150px;
    height: 150px;
    display: block;
    margin: 2rem auto;
}